{{#> app}} {{#*inline "content"}}
<div class="row">
  <div class="col-md-6 col-lg-4 mb-2">
    <img src="/img/dress.jpg" class="img-fluid rounded" />
  </div>
  <div class="col-md-6 col-lg-4 mb-2">
    <img src="/img/jeans.jpg" class="img-fluid rounded" />
  </div>
  <div class="col-md-6 col-lg-4 mb-2">
    <img src="/img/tshirt.jpg" class="img-fluid rounded" />
  </div>
  <div class="col-md-6 col-lg-4 mb-2">
    <img src="/img/dressb.jpg" class="img-fluid rounded" />
  </div>
</div>

{{/inline}} {{/app}}
